@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Scope+One&display=swap");

// ##### Fonts #####
$header: "Inter", sans-serif;
$body: "Scope One", serif;
// ##### Colors #####
$tomato: #054986;
$green: rgb(41, 180, 134);
$black: #000000;
$gray: rgba(0, 0, 0, 0.29);
$second-black: #4e4d4d;
$black-mute: #615c59;

html,
body {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  background: hsla(55, 82%, 63%, 1);

  background: linear-gradient(
    90deg,
    hsla(55, 82%, 63%, 1) 0%,
    hsla(0, 0%, 85%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(55, 82%, 63%, 1) 0%,
    hsla(0, 0%, 85%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(55, 82%, 63%, 1) 0%,
    hsla(0, 0%, 85%, 1) 100%
  );
}

.app-container {
  background-color: #fafafa30;
  border-radius: 10px;
  padding: 0 120px;
  width: 80%;
  margin: auto;

  @media (max-width: 780px) {
    padding: 0;
    width: 90%;
  }
}

//Nav
.navbar {
  padding: 20px 0px;
}

.logo {
  font-family: $header;
}
.second {
  color: #29b486;
}
.first,
.second {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: -2px;
  margin-left: 0;
  border-radius: 5px;
}

.nav-link {
  font-family: $header;
  color: #58772e;
  font-size: 18px;
  position: relative;
  font-weight: 400;
}

.nav-bar-collapse {
  text-align: center !important;
}

div.brackets a:before,
div.brackets a:after {
  position: absolute;
  color: #58772e;
  opacity: 0;
  font-weight: 500;
  font-size: 30px;
  top: 0px;
  transition: all 0.3s;
}

div.brackets a:before {
  content: "(";
  left: 0px;
  transform: translateX(10px);
}

div.brackets a:after {
  content: ")";
  right: 0px;
  transform: translateX(-10px);
}

div.brackets a:hover:before,
div.brackets a:hover:after,
div.brackets a:active {
  opacity: 1;
  transform: translateX(0px);
}

.hero-header {
  font-family: $header;
  font-weight: bold;
  font-size: 4em;
  color: #2f2f2f;
  padding-bottom: 2%;
}

.hero-button {
  font-family: $body;
  border: none;
  font-style: 14px;
  color: white;
  background-color: $second-black;
  padding: 8px 30px;
  box-shadow: 0px 3px 6px silver;
}

.hero-button:hover {
  box-shadow: 0px 3px 6px rgb(80, 79, 79);
  transition: 0.5s;
}
#home {
  // padding: 50px 30px;
  height: 100vh;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}
.hero-text {
  font-family: $body;
  font-size: 20px;
  color: $second-black;
  font-weight: 400;
  line-height: 1.5em;
  span {
    font-size: 20px;
  }
}

.fade-in-image {
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero-image {
  height: auto;
  max-width: 100%;
}

// Works Page and About Page Headers

.page-header {
  font-family: $header;
  font-size: 2.5em;
  font-weight: bold;
  font-style: normal;
  color: #2f2f2f;
}
// Contact Page

// Forms
input,
input:focus,
form {
  -webkit-appearance: none !important;
}
.input-form {
  border: none;
  background-color: rgba(196, 196, 196, 0.164);
  font-family: $header;
  font-size: 13px;
  font-weight: 300;
  padding: 24px;
  color: rgba(93, 91, 91, 0.198);
  -webkit-appearance: none !important;
}

.input-form {
  outline: none !important;
  -webkit-appearance: none !important;
}

.form {
  .submit-button {
    font-family: $body;
    font-size: 16px;
    background-color: #8b9b33;
    color: #f2f2f2;
    padding: 15px;
    border-radius: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 4px solid #908f8e70;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.submit-button:hover {
  border-bottom: 4px solid #36363670;
  color: whiteSmoke;
  transition: 0.5s ease-in-out;
}
.contact-form-header {
  font-family: $body;
  text-align: left;
  line-height: 1.8rem;
  font-weight: 300;
  font-size: 18px;
  // margin-bottom: 40px;
  color: $second-black;
}
// Contact List

.list-group-flush > .list-group-item {
  background-color: inherit;
}
.contact-list {
  font-family: $body;
  color: $second-black;
  font-size: 16px;
  font-weight: 300;

  i {
    color: #8b9b33;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 0;
    font-size: 1.3em;
  }

  ul,
  li {
    background-color: whitesmoke;
  }
}

.error-msg {
  font-size: 12px;
  font-family: $body;
  padding-top: 10px;
  color: $second-black;
  text-align: center;
}

// About Page
.about-section {
  h2 {
    color: $second-black;

    padding-bottom: 20px;
    font-family: $header;
    font-size: 2.5em;
    font-weight: bold;
    font-style: normal;
  }
  h5 {
    font-family: $body;
    color: #797979;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 10px;
  }
}
.about-paragraph {
  color: $black-mute;
  font-family: $body;
  font-size: 16px;
  line-height: 36px;
  font-weight: 300;
  text-align: justify;
}

.section-all {
  padding: 80px 0px;

  @media (max-width: 700px) {
    padding: 30px 0px;
  }
}
// ============ Works Page ============

.hashtags {
  color: $second-black;
  font-family: $body;
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
  h5 {
    color: #ffffffb5;
    font-size: 18px;
    font-weight: 600;
  }
  h6 {
    font-size: 14px;
    font-weight: 400;
    color: #6c6c6ce8;
  }
  i {
    display: inline-flex;
    padding: 0px 3px;
    font-size: 0.8rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
  }
  p {
    margin-top: 0px;
  }
}

.projects-header {
  text-decoration: none;
  position: relative;
}

#app-link,
#gihub-link {
  margin: 5px;
  background-color: #afb0aa;
  padding: 4px 10px;
  font-size: 12px;
  color: #faf0dd;
  border-radius: 20px;
  font-weight: 300;
  font-family: "Inter";
  border-bottom: 2px solid #32421c82;
}

#app-link:hover,
#gihub-link:hover {
  text-decoration: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.36);
}

.project-img {
  height: auto;
  box-shadow: 0px 3px 6px black;
  max-width: 70%;
}

section,
.section {
  position: relative;
  background: none;
}

section:before,
.section:before {
  position: absolute;
  content: "";
}

section.diagonal {
  background: inherit;
  // padding: 50px 0px;
}
.diagonal {
  text-align: center;
  z-index: 1;
  padding: 40px 0px;
  // padding: 3em;
  h2 {
    color: #f6f6f6;
  }
}

.card {
  box-shadow: 0px 4px 4px rgba(148, 148, 148, 0.122);
  border-radius: 20px;
  border: none;
  background-color: #f2f2f2a9;
  background-color: #ffffff2f;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;

  h5 {
    font-family: $header;
    color: #6c6c6ce8;
    padding-bottom: 10px;
    font-weight: 300;
    letter-spacing: -1px;
  }
}

.col-works {
  padding-bottom: 30px;
}
.contact-section,
.diagonal-skills {
  z-index: 1;

  h2 {
    color: $second-black;
  }
}

// .row-to-shrink {
//   padding: 50px 0px;
// }

.contact-section:before {
  transform-origin: 10% 0;
  top: 0;
  left: -28%;
  z-index: -1;
  width: 180%;
  height: 100%;
  background: white;
}
.diagonal:before {
  top: 0;
  left: -28%;
  z-index: -1;
  width: 180%;
  height: 100%;
  background-color: #f2f2f2;
  background-color: #261423;
}

//============= Skills ==============

.skill-paragraph {
  font-size: 26px;
  text-align: left;
  color: $black-mute;
  font-family: $header;
  font-weight: bold;
}
.skill-paragraph i {
  // color: rgb(41, 180, 134) !important;
  font-size: 2rem;
}
.skill-col {
  padding: 10px;

  img {
    height: auto;
    width: 80%;
  }
  p {
    font-family: $body;
    font-size: 12px;
    color: $black-mute;
    font-weight: 500;
  }
}

.skill-row {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;

  @media (min-width: 800px) {
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: initial;
  }
}

.skill-header-row {
  h5 {
    font-family: $body;
    color: #797979;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 10px;
  }
}
#page-header-skills {
  padding-bottom: 20px;
  font-family: $header;
  font-size: 2.5em;
  color: $second-black;
  font-weight: bold;
  font-style: normal;
}

.skill-list {
  font-family: $body;
  text-align: left;
  padding-left: 0;
  color: $black-mute;
  font-size: 18px;
  padding: 4px 4px;
  background-color: #f2f2f2;
}
.fa-circle {
  color: #ff8f76;
  color: #8261ed !important;
  font-size: 10px;
}

.diagonal-skills:before {
  top: 0;
  left: -28%;
  z-index: -1;
  width: 180%;
  height: 100%;

  background: #f2f2f2;
}
//Footer

.copyright {
  padding: 10px;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: inherit;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  letter-spacing: -0.6px;
  padding: 20px 20px 30px 10px;
  color: $black-mute;
  font-size: 14px;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: auto;
  padding-right: 20px;
}
.footer-distributed span {
  font-size: 10px;
  color: #696464f5;
  font-family: $body;
  font-weight: 400;
}

.footer-distributed h6 {
  color: #4c4c4ca1;
  margin: 0;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  font-family: $header;
}

/* The company logo */

.footer-distributed .footer-company-name {
  color: #696464f5;
  font-size: 12px;
  font-family: $body;
  font-weight: 400;
  margin: 0;
  line-height: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: auto;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: auto;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 50px;
  height: 45px;
  cursor: pointer;
  background-color: #525252;
  border-radius: 30px;
  font-size: 30px;
  color: gray;
  text-align: center;
}

.footer-icons a {
  margin-right: 20px;
  font-size: 2rem;
  color: black;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

  .skill-col {
    padding-bottom: 40px;
    align-items: center;
    text-align: center;
    margin-left: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .diagonal:before {
    left: -47%;
    width: 183%;
    height: 100%;
  }
  .skill,
  #page-header-skills,
  .about-section h2,
  .page-header {
    font-size: 2em;
    text-align: center;
  }

  .hero-header {
    font-size: 2.5em;
  }
  .hero-text {
    font-size: 1em;
  }

  .contact-form-header {
    font-size: 16px;
    line-height: 35px;
    text-align: left;
  }

  .about-paragraph {
    font-size: 16px;
    line-height: 35px;
    text-align: justify;
  }
  .row-to-shrink {
    padding: 0px 20px;
  }
  .first,
  .second {
    font-size: 20px;
  }
  .project-img {
    max-width: 90%;
  }
  #home {
    padding: 10px 10px;
    height: 80vh;
  }
  .navbar {
    padding: 26px;
  }
  .col-to-shrink {
    padding: 0px 20px;
  }
  .skill-list {
    font-size: 16px;
    height: 35px;
  }
  .skill-paragraph {
    font-size: 22px;
  }
  .skill-header-row {
    margin-bottom: 30px;
  }
  .skill-col {
    padding-left: 0;
    padding: 0;
  }
  .skill-row {
    margin-left: 0;
    margin-right: 0;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }
}

@media screen and (min-width: 1900px) {
  .diagonal:before,
  .diagonal-skills:before,
  .contact-section:before {
    width: 200%;
    left: -36%;
  }
} ;
