@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Quattrocento:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

// ##### Fonts #####
$header: "Domine", serif;
$body: "Lora", serif;

// ##### Colors #####
$tomato: #054986;
$black: #000000;
$gray: rgba(0, 0, 0, 0.29);
$second-black: #4e4d4d;
$black-mute: #615c59;

html,
body {
  height: 100%;

  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  background-color: #fffefc;
}

//Nav

.nav-link {
  font-family: $header;
  color: $black-mute !important;
  font-size: 18px;

  position: relative;
  margin-top: 10px;
  font-weight: 700;
}
.nav-bar-collapse {
  text-align: center !important;
}

div.brackets a:before,
div.brackets a:after {
  position: absolute;
  opacity: 0;
  font-size: 30px;
  top: 0px;
  transition: all 0.3s;
}

div.brackets a:before {
  content: "(";
  left: 0px;
  transform: translateX(10px);
}

div.brackets a:after {
  content: ")";
  right: 0px;
  transform: translateX(-10px);
}

div.brackets a:hover:before,
div.brackets a:hover:after {
  opacity: 1;
  transform: translateX(0px);
}

.hero-header {
  font-family: $header;
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 5%;
}

.hero-text {
  font-family: $body;
  font-size: 20px;
  color: $second-black;
  font-weight: 400;
  line-height: 1.8em;
}

.hero-image {
  height: auto;
  max-width: 100%;
}

// Works Page and About Page Headers

.page-header {
  font-family: $header;
  font-size: 3.5em;
  color: $black;
  font-weight: bold;
  font-style: normal;
}

// Contact Page

// Forms
input,
input:focus,
form {
  -webkit-appearance: none !important;
}
.input-form {
  border: none;
  background-color: rgba(196, 196, 196, 0.164);
  font-family: $header;
  font-size: 13px;
  font-weight: 300;
  padding: 24px;
  color: rgba(93, 91, 91, 0.198);
  -webkit-appearance: none !important;
}

.input-form {
  outline: none !important;
  -webkit-appearance: none !important;
}

.form {
  .submit-button {
    font-family: $body;
    font-size: 18px;
    background-color: #20639b;
    padding: 15px;
    color: whitesmoke;
    border: none;
    font-weight: bold;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.contact-form-header {
  font-family: $body;
  text-align: center;
  line-height: 1.7rem;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 40px;
  color: $second-black;
}
// Contact List
.contact-list {
  font-family: $body;
  color: $second-black;
  font-size: 16px;
  font-weight: 300;
  i {
    color: $tomato !important;
    font-weight: bold;
    margin-right: 20px;
    font-size: 1.4em;
  }
}

.error-msg {
  font-size: 12px;
  font-family: $body;
  color: $second-black;
  text-align: center;
}

// About Page
.about-paragraph {
  color: $second-black;
  font-family: $body;
  font-size: 16px;
  line-height: 35px;
  font-weight: 300;
}

// Works Page

.hashtags {
  color: $black-mute;
  font-family: $header;
  font-size: 12px;
  font-weight: 700;
  margin-top: 10px;
  h5 {
    color: whitesmoke;
  }
}

#gihub-link {
  font-weight: lighter;
  background-color: #1523eb80;
  padding: 3px 10px;
  font-size: 12px;
  color: white;
  border-radius: 10px;
  border-bottom: 3px solid #1523ebdf;
}

#app-link {
  font-weight: lighter;
  background-color: #3fa24f;
  padding: 3px 10px;
  margin-left: 2px;
  font-size: 12px;
  color: white;
  border-radius: 10px;
  border-bottom: 3px solid #248a36;
}
#app-link:hover,
#gihub-link:hover {
  text-decoration: none;
  box-shadow: 0px 2px 3px $second-black;
}

.project-img {
  height: auto;
  box-shadow: 0px 3px 4px 0px rgba(8, 8, 8, 0.76);
  width: 80%;
  border-radius: 5px;
  border: 4px rgba(27, 26, 26, 0.096) solid;
  opacity: 0.9;
}
.row-projects {
  display: flex;
  justify-content: space-evenly;
}
// section {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-pack: center;

//   -ms-flex-pack: center;
//   justify-content: space-evenly;
// }
section {
  position: relative;
  background: none;
  color: #fff;
  text-align: center;

  justify-content: space-evenly;
}
section:before {
  position: absolute;
  content: "";
}
section.diagonal {
  background: inherit;
  padding: 50px 0px;
}
.diagonal {
  z-index: 1;
  padding: 3em;
  h2 {
    color: whitesmoke;
  }
}
.diagonal:before {
  -webkit-transform: rotate(0);
  transform: rotate(-2deg);
  -webkit-transform-origin: 4% 0;
  transform-origin: 10% 0;
  top: 0;
  left: -28%;
  z-index: -1;
  width: 150%;
  height: 100%;
  background: #1d58889b;
}

//Footer

.copyright {
  padding: 10px;
}

.row-shared {
  height: 100vh;
  align-items: center;
}

//Footer copied and pasted

footer {
  position: fixed;
  bottom: 0;
  font-family: $body;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: #241c15;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: $body;
  padding: 40px 40px 50px 40px;
  color: $black-mute;
  font-size: 14px;
  margin-top: 60px;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: auto;
}
.footer-distributed span {
  font-size: 12px;
}

.footer-distributed h4 {
  color: gray;
  font-family: $body;
  margin: 0;
}

/* The company logo */

.footer-distributed .footer-company-name {
  color: $black-mute;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: auto;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: auto;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 50px;
  height: 45px;
  cursor: pointer;
  background-color: #525252;
  border-radius: 30px;
  font-size: 30px;
  color: gray;
  text-align: center;
}

.footer-icons a {
  margin-right: 20px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .diagonal:before {
    left: -47%;

    width: 183%;
    height: 100%;
  }
  .page-header {
    font-size: 2.5em;
  }
  .hero-header {
    font-size: 3em;
  }
  .hero-text {
    font-size: 1em;
  }

  .contact-form-header {
    font-size: 16px;
    line-height: 35px;
  }

  .about-paragraph {
    font-size: 16px;
    line-height: 28px;
  }
  .row-to-shrink {
    padding: 40px;
  }
  .row-projects {
    padding: 0;
  }
  .project-img {
    width: 100%;
  }
}

@media screen and (min-width: 1900px) {
  .diagonal:before {
    left: -50%;

    width: 200%;
    height: 100%;
  }
}
